*.iml
.gradle
/local.properties
/.idea/*
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/projectFilesBackup
/components/com/bana

index.android.bundle
*.log
*.ipr
*.iws
apk/
*.apk
